:root {
  --one-accent-color: #188CE8;
  --accent-color: #2196F3;
  --primary-text-color: #757575;
  --color-dark: #212121;
  --background-dark: #2F303A;
  --white-color: #FFFFFF;
  --background-light-btn: #F5F4FA;
  --dark-logo: #000000;
  --background-grey: #F5F4FA;
  --color-header-border: #ECECEC;
  --color-portfolio-border: #EEEEEE;
  --background-color-header: #C4C4C4;
  --background-gradient: rgba(47, 48, 58, 0.4);
  --client-border: #AFB1B8;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-family: inherit;
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.section {
  padding-top: 64px;
  padding-bottom: 64px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 92px;
    padding-bottom: 92px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo__first-part {
  color: var(--accent-color);
}

.logo__second-part {
  color: var(--dark-logo);
}

.wight-logo {
  color: var(--white-color);
}

.logo-down {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.container-logo-down {
  margin-bottom: 20px;
}

.menu {
  display: none;
}

/*
.menu {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.menu__link {
    position: relative;
    font-family: $fontPrimary;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: var(--color-dark);
    padding-top: 24px;
    padding-bottom: 33px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    &.menu__link--current::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
    }
}

.menu__link--current {
    color: var(--accent-color);
}
*/
.menu-contact {
  display: none;
}

/*
.menu-contact {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.menu-contact__link {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    font-family: $fontPrimary;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
    margin-right: 50px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.menu-contact__icon {
    fill: currentColor;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
*/
.no-scroll {
  overflow: hidden;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 48px 40px;
  justify-content: space-between;
}

.mobile-menu__nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--color-dark);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__nav-link:hover, .mobile-menu__nav-link:focus {
  color: var(--accent-color);
}

.mobile-menu__nav-item {
  padding-bottom: 32px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: 0;
  padding: 0;
  line-height: 0;
}
.mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
  fill: var(--accent-color);
}

.mobile-menu__socials-icon {
  width: 40px;
  height: 40px;
}

.mobile-menu__contacts {
  margin-top: auto;
}

.mobile-menu__contacts-link {
  color: var(--accent-color);
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__contacts-item {
  padding-top: 32px;
}

.mobile-menu__contacts-link__mail {
  color: var(--primary-text-color);
  font-size: 24px;
  line-height: 1.16;
}
.mobile-menu__contacts-link__mail:hover, .mobile-menu__contacts-link__mail:focus {
  color: var(--accent-color);
}

.mobile-menu__socials {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
}

.mobile-menu__socials-link {
  color: var(--accent-color);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__socials-item:not(:last-child)::after {
  content: "";
  width: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin: 10px;
}

.page-header {
  border-bottom: 1px solid var(--color-header-border);
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.open-mobile-menu-btn {
  line-height: 0;
  border: none;
  background-color: transparent;
  padding: 0;
}

.open-mobile-menu-btn__icon {
  width: 40px;
  height: 40px;
}

.menu__link--current {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
  .open-mobile-menu-btn {
    display: none;
  }
  .menu-contact {
    display: block;
  }
  .menu {
    display: flex;
    align-items: center;
    column-gap: 50px;
  }
  .menu__link {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: var(--color-dark);
    padding-top: 32px;
    padding-bottom: 33px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
  .menu__link.menu__link--current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
  .menu__link--current {
    color: var(--accent-color);
  }
  .menu-contact {
    align-items: center;
    margin-left: auto;
  }
  .menu-contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .menu-contact__link {
    align-items: center;
    color: var(--primary-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-contact__link:hover, .menu-contact__link:focus {
    color: var(--accent-color);
  }
  .menu-contact__icon {
    fill: currentColor;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .page-header .menu-contact__link {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .page-header .menu-contact {
    display: flex;
    flex-direction: row;
  }
  .page-header .menu-contact__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0px;
  }
}
/*
.page-header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--color-header-border);
}

.page-header__container {
    display: flex;
    align-items: center;
}
*/
.backgroud-section {
  background-color: var(--background-color-header);
  background-image: linear-gradient(var(--background-gradient), var(--background-gradient)), url(../img/Hero/img-mobile.jpg);
  padding-top: 118px;
  padding-bottom: 118px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.backgroud-section__container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.header-single {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  color: var(--white-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.modal-open-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  display: block;
  padding: 10px 24px;
  min-width: 216;
  margin-top: 30px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-open-btn:hover, .modal-open-btn:focus {
  background-color: var(--one-accent-color);
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .backgroud-section {
    background-image: linear-gradient(var(--background-gradient), var(--background-gradient)), url(../img/Hero/img-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .backgroud-section {
    background-image: linear-gradient(var(--background-gradient), var(--background-gradient)), url(../img/Hero/img-tablet.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .backgroud-section {
    background-image: linear-gradient(var(--background-gradient), var(--background-gradient)), url(../img/Hero/img-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .backgroud-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(var(--background-gradient), var(--background-gradient)), url(../img/Hero/img-desctop.jpg);
  }
  .header-single {
    font-size: 44px;
    line-height: 1.36;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .backgroud-section {
    background-image: linear-gradient(var(--background-gradient), var(--background-gradient)), url(../img/Hero/img-desctop@2x.jpg);
  }
}
/*
.backgroud-section {
    background-color: var(--background-color-header);
    background-image: linear-gradient(var(--background-gradient), var(--background-gradient)), url(../img/img-header.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1600px;
    margin: 0 auto;
}

.backgroud-section__container {
    @include flexCenter;
    text-align: center;
    flex-direction: column;
}

.header-single {
    font-family: $fontPrimary;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    color: var(--white-color);
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.modal-open-btn {
    font-family: $fontPrimary;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--accent-color);
    display: block;
    padding: 10px 32px;
    min-width: 216;
    margin-top: 30px;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--one-accent-color);
    }   
}
*/
.menu-speciality__container-icons {
  background: var(--background-light-btn);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
}

.header-speciality {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-dark);
  padding-bottom: 10px;
}

.about-spesiality {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 0px;
}

.menu-speciality {
  gap: 30px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .menu-speciality {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .menu-speciality__item {
    width: 354px;
    flex-basis: calc((100% - 30px) / 2);
  }
  .header-speciality {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .backgroud-section {
    max-width: 1600px;
    margin: 0 auto;
  }
  .menu-speciality {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
  }
  .menu-speciality__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.menu-speciality__box-icons {
  display: flex;
}

/*
.menu-speciality {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}

.menu-speciality__item {
    flex-basis: calc((100% - 90px)/4);
}

.menu-speciality__container-icons {
    background: var(--background-light-btn);
    border-radius: 4px;
    @include flexCenter;
    height: 120px;
    margin-bottom: 30px;
}

.menu-speciality__box-icons {
    display: flex;
}

.header-speciality {
    font-family: $fontPrimary;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--color-dark);
    padding-bottom: 10px;
}

.about-spesiality {
    font-family: $fontPrimary;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
*/
@media screen and (max-width: 1199px) {
  .about-us {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .section.about-us {
    padding-top: 0;
  }
  .header-second-work {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--color-dark);
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .menu-img {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .menu-img__wrapper {
    position: relative;
  }
  .overlay-item-img {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;
  }
}
/*
.section.about-us {
    padding-top: 0;
}

.header-second-work {
    font-family: $fontPrimary;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--color-dark);
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.menu-img {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.menu-img__wrapper {
    position: relative;
}

.overlay-item-img {
    position: absolute;
    font-family: $fontPrimary ;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;
}
*/
.background-our-team {
  background-color: var(--background-grey);
}

.header-second-work {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-dark);
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.menu-team__item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.menu-team {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.our-team__container {
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.menu-team__container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-name-team {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.18;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: var(--color-dark);
  margin-bottom: 10px;
}

.about-team {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.menu-socials-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
}

.menu-socials-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  border-radius: 50%;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-socials-icons__link:hover, .menu-socials-icons__link:focus {
  background-color: var(--accent-color);
}

.menu-socials-icons__icons {
  fill: var(--client-border);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-socials-icons__link:hover .menu-socials-icons__icons, .menu-socials-icons__link:focus .menu-socials-icons__icons {
  fill: var(--white-color);
}

@media screen and (min-width: 768px) {
  .menu-team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .header-second-work {
    font-size: 36px;
    line-height: 1.16;
  }
  .menu-team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
/*
.background-our-team {
    background-color: var(--background-grey);
}

.menu-team {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.menu-team__item {
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.menu-team__container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-name-team {
    font-family: $fontPrimary;
    font-size: 16px;
    line-height: 1.18;
    font-weight: 500;
    letter-spacing: 0.03em;
    color: var(--color-dark);
    margin-bottom: 10px;
}

.about-team {
    font-family: $fontPrimary;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.menu-socials-icons {
    @include flexCenter;
    gap: 10px;
    margin-top: 16px;
}

.menu-socials-icons__link {
    @include flexCenter;
    width: 44px;
    height: 44px;
    background-color: var(--white-color);
    border-radius: 50%;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.menu-socials-icons__icons {
    fill: var(--client-border);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .menu-socials-icons__link:hover &,
    .menu-socials-icons__link:focus & {
        fill: var(--white-color);
    }
}
*/
.header-second-work {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-dark);
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.menu-clients {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.menu-clients__item {
  display: block;
  flex-basis: calc((100% - 30px) / 2);
}

.menu-clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid var(--client-border);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-clients__link:hover, .menu-clients__link:focus {
  border-color: var(--accent-color);
}

.menu-clients__icon {
  fill: var(--client-border);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-clients__link:hover .menu-clients__icon, .menu-clients__link:focus .menu-clients__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-clients__item {
    display: block;
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .menu-clients__item {
    display: block;
    flex-basis: calc((100% - 150px) / 6);
  }
  .header-second-work {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}
/*
.our-clients {
@extend %section;
}

.menu-clients {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.menu-clients__item {
    display: block;
    flex-basis: calc((100% - 150px)/6);
}

.menu-clients__link {
    @include flexCenter;
    height: 92px;
    border: 1px solid var(--client-border);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
}

.menu-clients__icon {
    fill: var(--client-border);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .menu-clients__link:hover &,
    .menu-clients__link:focus & {
        fill: var(--accent-color);
    }
}
*/
.background-footer {
  background-color: var(--background-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.logo-down {
  margin-bottom: 20px;
  display: block;
}

.menu-address-item {
  display: block;
}
.menu-address-item:not(:last-child) {
  margin-bottom: 9px;
}

.location {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.location:hover, .location:focus {
  color: var(--accent-color);
}

.footer-contact {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact:hover, .footer-contact:focus {
  color: var(--accent-color);
}

.contacts-container {
  margin-bottom: 60px;
}

.header-join-us {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.social-footer {
  display: flex;
  gap: 10px;
}

.social-icons-footer {
  fill: var(--white-color);
}

.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer:hover, .social-link-footer:focus {
  background-color: var(--accent-color);
}

.socials-container {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .container-footer {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .modal-form-follow {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .container-footer {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .modal-form-follow {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .container-footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .container-follow {
    margin-left: auto;
  }
  .contacts-container {
    margin-bottom: 0px;
    margin-right: 70px;
  }
  .header-join-us {
    text-align: start;
  }
  .container-logo-down {
    text-align: start;
  }
  .menu-address {
    text-align: start;
  }
}
/*


.background-footer {
    background-color: var(--background-dark);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
}

.container-footer {
    display: flex;
    align-items: baseline;
}

.menu-address-item:not(:last-child) {
    margin-bottom: 9px;
}

.location {
    font-family: $fontPrimary;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.footer-contact {
    font-family: $fontPrimary;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.socials-container {
    margin-left: 70px;
}

.header-join-us {
    display: block;
    font-family: $fontPrimary;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 20px;
}

.social-footer {
    display: flex;
    gap: 10px;
}

.social-icons-footer {
    fill: var(--white-color);
}

.social-link-footer {
    @include flexCenter;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    } 
}
*/
.modal-form-follow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.title-follow {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  margin-bottom: 20px;
}

.modal-form-input-follow {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  display: inline-flex;
  background-color: var(--background-dark);
  padding-left: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
}

.modal-form-submit-follow {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  align-self: center;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  display: flex;
  min-width: 200px;
  padding: 10px 28px;
  margin-left: 12px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 20px;
}
.modal-form-submit-follow:hover, .modal-form-submit-follow:focus {
  background-color: var(--one-accent-color);
}

.modal-form-submit-icon {
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .modal-form-follow {
    flex-direction: row;
  }
  .title-follow {
    text-align: start;
  }
  .modal-form-submit-follow {
    margin-top: 0;
  }
}
/*
.container-follow {
    margin-left: auto;
}

.title-follow {
    font-family: $fontPrimary;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 20px;
}

.modal-form-follow {
    display: flex;
    font-family: $fontPrimary;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.modal-form-follow-field {
    display: block;
}

.modal-form-input-follow {
    font-family: $fontPrimary;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    display: inline-flex;
    background-color: var(--background-dark);
    padding-left: 12px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--white-color);
}

.modal-form-submit-follow {
    font-family: $fontPrimary;
    font-weight: 700;
    font-size: 16px;
    align-self: center;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--accent-color);
    display: flex;
    min-width: 200;
    padding: 10px 28px;
    margin-left: 12px;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
        background-color: var(--one-accent-color);
    }
}

.modal-form-submit-icon {
    margin-left: 10px;
}
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 30px);
  max-width: 450px;
  padding: 40px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--dark-logo);
  padding: 0;
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-color);
}

.modal-form-title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
  color: var(--color-dark);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  display: block;
  margin-bottom: 10px;
}

.modal-form-field-desc {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.16;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-dark);
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  border-color: #2196F3;
  outline: none;
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--color-dark);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-dark);
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-check-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.modal-form-own-checkbox {
  border: 2px solid var(--color-dark);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
  flex-shrink: 0;
}
.modal-form-check:checked + .modal-form-own-checkbox {
  background-color: var(--accent-color);
  border: transparent;
}
.modal-form-check:focus + .modal-form-own-checkbox {
  box-shadow: 0 0 0 1px var(--accent-color);
}

.modal-form-own-checkbox-icon {
  display: none;
  fill: #FFFFFF;
}
.modal-form-check:checked + .modal-form-own-checkbox .modal-form-own-checkbox-icon {
  display: block;
}

.modal-check-policy {
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.modal-check-policy-link {
  text-decoration: underline;
  line-height: 1.71;
  color: var(--accent-color);
}
.modal-check-policy-link:hover {
  text-decoration: none;
}

.modal-check-policy-ink {
  color: var(--accent-color);
}

.modal-form-submit {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  align-self: center;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  display: block;
  min-width: 200;
  padding: 10px 52px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-submit:hover, .modal-form-submit:focus {
  background-color: var(--one-accent-color);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    max-width: none;
  }
  .modal-check-policy {
    font-size: 14px;
    line-height: 1.7;
  }
}
.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px;
  justify-content: flex-start;
  gap: 15px 8px;
}

.menu-button__btn {
  background-color: var(--background-light-btn);
  color: var(--color-dark);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-button__btn:hover, .menu-button__btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.menu-portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .overlay, .portfolio-link:focus .overlay {
  transform: translateY(0%);
}

.portfolio-about {
  padding: 20px 24px;
  border-bottom: 1px solid var(--color-portfolio-border);
  border-right: 1px solid var(--color-portfolio-border);
  border-left: 1px solid var(--color-portfolio-border);
  flex-grow: 1;
}

.header-portfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-dark);
  margin-bottom: 4px;
}

.portfolio-page {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.active {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .menu-button {
    justify-content: center;
    margin-bottom: 30px;
  }
  .menu-portfolio-item {
    display: block;
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .menu-button {
    margin-bottom: 50px;
    margin-top: 0;
  }
  .menu-portfolio-item {
    display: block;
    flex-basis: calc((100% - 60px) / 3);
  }
}
/*
.menu-button {
    @include flexCenter;
    margin-bottom: 50px;
}

.menu-button__btn {
    background-color: var(--background-light-btn);
    color: var(--color-dark);
    font-family: $fontPrimary;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--white-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }

    &:not(last-child) {
        margin-right: 8px;
    }
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-basis: calc((100% - 60px)/3);
}

.portfolio-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.menu-portfolio-img-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    @include flexCenter;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--white-color);
    font-family: $fontPrimary;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio-link:hover &,
    .portfolio-link:focus & {
        transform: translateY(0%);
    }
}

.portfolio-about {
    padding: 20px 24px;
    border-bottom: 1px solid var(--color-portfolio-border);
    border-right: 1px solid var(--color-portfolio-border);
    border-left: 1px solid var(--color-portfolio-border);
}

.header-portfolio {
    font-family: $fontPrimary;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-dark);
    margin-bottom: 4px;
}

.portfolio-page {
    font-family: $fontPrimary;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.active {
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
*//*# sourceMappingURL=main.css.map */