@import'./utils/variables';
@import './utils/visually-hidden';
@import'./utils/placeholders';
@import'./utils/mixin';

@import'./base/common';
@import'./base/section';
@import'./base/container';

@import'./components/logo';
@import'./components/menu';
@import'./components/menu-contact';
@import'./components/mobile.menu';


@import'./layout/header';
@import'./layout/hero';
@import'./layout/speciality';
@import'./layout/about-us';
@import'./layout/our-team';
@import'./layout/our-clients';
@import'./layout/footer';
@import'./layout/follow';
@import'./layout/modal-form';
@import'./layout/portfolio';


