.background-our-team {
    background-color: var(--background-grey);
}

.header-second-work {
    font-family: $fontPrimary;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--color-dark);
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.menu-team__item {
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.menu-team {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.our-team__container {
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.menu-team__container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-name-team {
    font-family: $fontPrimary;
    font-size: 16px;
    line-height: 1.18;
    font-weight: 500;
    letter-spacing: 0.03em;
    color: var(--color-dark);
    margin-bottom: 10px;
}

.about-team {
    font-family: $fontPrimary;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.menu-socials-icons {
    @include flexCenter;
    gap: 10px;
    margin-top: 16px;
}

.menu-socials-icons__link {
    @include flexCenter;
    width: 44px;
    height: 44px;
    background-color: var(--white-color);
    border-radius: 50%;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}


.menu-socials-icons__icons {
    fill: var(--client-border);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .menu-socials-icons__link:hover &,
    .menu-socials-icons__link:focus & {
        fill: var(--white-color);
    }
}

@media screen and (min-width: 768px) {
    
    .menu-team__item {
    flex-basis: calc((100% - 30px)/2);
    }
}

@media screen and (min-width: 1200px) {

    .header-second-work {
        font-size: 36px;
        line-height: 1.16;
    }

    .menu-team__item {
        flex-basis: calc((100% - 90px)/4);
    }
    }

/*
.background-our-team {
    background-color: var(--background-grey);
}

.menu-team {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.menu-team__item {
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.menu-team__container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-name-team {
    font-family: $fontPrimary;
    font-size: 16px;
    line-height: 1.18;
    font-weight: 500;
    letter-spacing: 0.03em;
    color: var(--color-dark);
    margin-bottom: 10px;
}

.about-team {
    font-family: $fontPrimary;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.menu-socials-icons {
    @include flexCenter;
    gap: 10px;
    margin-top: 16px;
}

.menu-socials-icons__link {
    @include flexCenter;
    width: 44px;
    height: 44px;
    background-color: var(--white-color);
    border-radius: 50%;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.menu-socials-icons__icons {
    fill: var(--client-border);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .menu-socials-icons__link:hover &,
    .menu-socials-icons__link:focus & {
        fill: var(--white-color);
    }
}
*/
