.our-clients {
@extend %section;
}

.menu-clients {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.menu-clients__item {
    display: block;
    flex-basis: calc((100% - 150px)/6);
}

.menu-clients__link {
    @include flexCenter;
    height: 92px;
    border: 1px solid var(--client-border);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
}

.menu-clients__icon {
    fill: var(--client-border);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .menu-clients__link:hover &,
    .menu-clients__link:focus & {
        fill: var(--accent-color);
    }
}

