.menu-button {
    @include flexCenter;
    flex-wrap: wrap;
    margin: 40px;
    justify-content: flex-start;
    margin-right: auto;
    margin-left: auto;
    gap: 15px 8px;
}

.menu-button__btn {
    background-color: var(--background-light-btn);
    color: var(--color-dark);
    font-family: $fontPrimary;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--white-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.menu-portfolio-img-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    @include flexCenter;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--white-color);
    font-family: $fontPrimary;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio-link:hover &,
    .portfolio-link:focus & {
        transform: translateY(0%);
    }
}

.portfolio-about {
    padding: 20px 24px;
    border-bottom: 1px solid var(--color-portfolio-border);
    border-right: 1px solid var(--color-portfolio-border);
    border-left: 1px solid var(--color-portfolio-border);
}

.header-portfolio {
    font-family: $fontPrimary;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-dark);
    margin-bottom: 4px;
}

.portfolio-page {
    font-family: $fontPrimary;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.active {
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
    .menu-button {
        justify-content: center;
        margin-bottom: 30px;
    }

    .menu-portfolio-item {
        display: block;
        flex-basis: calc((100% - 30px)/2);
    }
}

@media screen and (min-width: 1200px) {
    .menu-button {
        padding-bottom: 50px;
    }

    .menu-portfolio-item {
        display: block;
        flex-basis: calc((100% - 60px)/3);
}
}

/*
.menu-button {
    @include flexCenter;
    margin-bottom: 50px;
}

.menu-button__btn {
    background-color: var(--background-light-btn);
    color: var(--color-dark);
    font-family: $fontPrimary;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--white-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }

    &:not(last-child) {
        margin-right: 8px;
    }
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-basis: calc((100% - 60px)/3);
}

.portfolio-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.menu-portfolio-img-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    @include flexCenter;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--white-color);
    font-family: $fontPrimary;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio-link:hover &,
    .portfolio-link:focus & {
        transform: translateY(0%);
    }
}

.portfolio-about {
    padding: 20px 24px;
    border-bottom: 1px solid var(--color-portfolio-border);
    border-right: 1px solid var(--color-portfolio-border);
    border-left: 1px solid var(--color-portfolio-border);
}

.header-portfolio {
    font-family: $fontPrimary;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-dark);
    margin-bottom: 4px;
}

.portfolio-page {
    font-family: $fontPrimary;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.active {
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
*/