.menu-speciality__container-icons {
    background: var(--background-light-btn);
    border-radius: 4px;
    @include flexCenter;
    height: 120px;
    margin-bottom: 30px;
}

.header-speciality {
    font-family: $fontPrimary;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-dark);
    margin-bottom: 10px;
}

.about-spesiality {
    font-family: $fontPrimary;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 0px;
}

.menu-speciality {
    gap: 30px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
.menu-speciality {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.menu-speciality__item {
    width: 354px;
    flex-basis: calc((100% - 30px)/2);
}

.header-speciality {
    text-align: start;
}
}

@media screen and (min-width: 1200px) {
.backgroud-section {
    max-width: 1600px;
    margin: 0 auto;
} 

.menu-speciality {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
}

.menu-speciality__item {
    flex-basis: calc((100% - 90px)/4);
}
}

.menu-speciality__box-icons {
    display: flex;
}

/*
.menu-speciality {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}

.menu-speciality__item {
    flex-basis: calc((100% - 90px)/4);
}

.menu-speciality__container-icons {
    background: var(--background-light-btn);
    border-radius: 4px;
    @include flexCenter;
    height: 120px;
    margin-bottom: 30px;
}

.menu-speciality__box-icons {
    display: flex;
}

.header-speciality {
    font-family: $fontPrimary;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--color-dark);
    padding-bottom: 10px;
}

.about-spesiality {
    font-family: $fontPrimary;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
*/
