/*
.logo {
    font-family: $fontLogo;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 93px;
}

.logo__first-part {
    color: var(--accent-color);
}

.logo__second-part {
    color: var(--dark-logo);
}

.wight-logo {
    color: var(--white-color);
}

.logo-down {
    font-family: $fontLogo;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.container-logo-down {
    margin-bottom: 20px;
}
*/