:root {
    --one-accent-color: #188CE8;
    --accent-color: #2196F3;
    --primary-text-color: #757575;
    --color-dark: #212121;
    --background-dark: #2F303A;
    --white-color: #FFFFFF;
    --background-light-btn: #F5F4FA;
    --dark-logo: #000000;
    --background-grey: #F5F4FA;
    --color-header-border: #ECECEC;
    --color-portfolio-border: #EEEEEE;
    --background-color-header: #C4C4C4;
    --background-gradient: rgba(47, 48, 58, 0.4);
    --client-border: #AFB1B8;
}

$fontPrimary: 'Roboto', sans-serif;
$fontLogo: Raleway, sans-serif;